node_modules
npm-debug.log
.env
.DS_Store
.idea
.secret*
.key
package-lock.json
js/properties/loops.json

mem/secret/**
build/**
*.idea/**
*.idea
*.iml
*.log
#inprogress/*
.tsbuilt/
#contracts/*
#migrations/*
yarn.lock